!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== "Pick a Username"     
  %body
    #header
    #pick_username
      #title
        %h2
          Pick a username
      - if session[:error]
        = session[:error]
        - session[:error] = nil
      - if session[:openid]
        %form#usernameForm{:method => "post", :action => "/save", :style => "margin-left:10px;"}
          %input{:type => "text", :name => "username"}
          = partial :styled_button, :locals => {:text => "Submit"}